* {
    margin: 0px;
    padding: 0px;

    background: rgb(237, 249, 254);
}

#name {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 900;
    font-style: normal;
}


/* Hero Section Css */
.social {
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: -8pc 0pc 0pc 0pc;
}

#img1 {
    width: 58vw;
    height: 100vh;
}


/* Profession Css */
#img2 {
    width: 35vw;
    height: 100vh;
}

.stack-Info {
    margin: 0pc 0pc 0pc 2pc;
    display: flex;
}

.tech-icon {
    display: flex;
    justify-content: space-between;
}

.small-Images {
    width: 10vw;
    height: 15vh;
}



/* Work css */
.work {
    display: flex;
    align-items: center;
}

.work-heading {
    margin-top: 1pc;
    text-align: center;
}

.sub-points {
    font-family: Quicksand;
    font-weight: 300;
    font-size: 20px;
    text-wrap: wrap;
    width: 40vw;
}

#img3 {
    width: 40vw;
    height: 100vh;
}


/* Education Css here */

.certificates {
    display: flex;
    flex-wrap: wrap;
}

#g-edu {
    width: 41pc;
    height: 25pc;
}

.cards {
    width: 50pc;
    height: 15pc;
    mix-blend-mode: multiply;

}

.gradation {
    margin-top: 5pc;
}

#niit {
    mix-blend-mode: multiply;
}

#college {
    mix-blend-mode: multiply;
}

/* Contact me Css Below */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#my-image {
    width: 30vw;
    height: 80vh;
    mix-blend-mode: multiply;
}

.Contact-social {
    display: flex;
    margin: 1pc 0pc 1pc 0pc;
    width: 59vw;
    justify-content: space-around;
    flex-wrap: wrap;
}

.resume {
    margin-left: 10pc;
    padding: 2pc;
}

.address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.aside {
    font-size: 43px;
    text-align: center;
    width: 47vw;
}

#address {
    width: 40vw;
    height: 70vh;
    mix-blend-mode: multiply;
}

.intro h6 {
    font-size: 20px;
}


/* project css below */
.project {
    display: flex;
    align-items: center;
}

#projectLogo {
    width: 100vw;
    height: 100vh;
}

.projectInfo {
    width: 149vw;
}

.projectHeading {
    text-align: center;
    margin-top: 3pc;
}

.projectSubHeading {
    text-align: center;
    margin-top: 3pc;
    font-family: Quicksand;
    font-weight: 300;
    font-size: 20px;
}

.projectList ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    list-style: none;
    padding: 1pc;

    background: rgb(25, 47, 57);
}

.projectList li {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.ProjectInfo {
    margin-bottom: 15px;
    width: 35pc;
    text-align: center;
}


/* notfound Page Css below */

#notfound {
    height: 80vh;
    width: 100vw;
}

#pageNotFoundBtn {
    position: absolute;
    top: 32pc;
    left: 38pc;
}


@media only screen and (max-width: 600px) {
    .Hero {
        margin-top: 2pc;
    }

    .social {
        display: flex;
        margin: 1pc 0pc 1pc 0pc;
        width: 82vw;
        justify-content: space-between;
        align-items: center;
    }

    .sub-Hero {
        flex-wrap: wrap;
    }

    #img1 {
        width: 90vw;
        height: 53vh;
    }

    #img2 {
        width: 90vw;
        height: 53vh;
    }

    .stack-Info {
        width: 86vw;
        margin: 0pc 0pc 1pc 0pc;
    }

    .small-Images {
        width: 21vw;
        height: 17vh;
    }


    .work {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        width: 92vw;
    }

    .sub-points {
        font-family: Quicksand;
        font-weight: 300;
        font-size: 20px;
        text-wrap: wrap;
        width: 81vw;
    }

    #img3 {
        width: 100vw;
        height: 42vh;
    }

    .certificates {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .projectInfo {
        width: 90vw;
    }

    .ProjectInfo {
        margin-bottom: 15px;
        width: 83vw;
        text-align: center;
    }


    .project {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .projectList ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        list-style: none;
        padding: 1pc;
        background: rgb(25, 47, 57);
        justify-content: end;
        align-content: stretch;
    }


    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #my-image {
        width: 92vw;
        height: 80vh;
        mix-blend-mode: multiply;
    }

    .Contact-social {
        width: 95vw;
    }

    .resume {
        margin-left: 0pc;
        padding: 2pc;
    }

    .resume button {
        width: 68vw;
    }

    .address {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    #address {
        width: 99vw;
        height: 70vh;
        mix-blend-mode: multiply;
    }

    .aside {
        font-size: 43px;
        text-align: center;
        width: 84vw;
    }

    #pageNotFoundBtn {
        position: absolute;
        top: 22pc;
        left: 5pc;
    }
}